<!--<ul>
  <li ng-repeat="aluno in $ctrl.alunos track by $index">
    {{ aluno.nome }} - {{ aluno.sobrenome }} - {{ aluno.semestre }}
  </li>
</ul>-->

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Semestre</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="aluno in $ctrl.alunos track by $index">
      <td>{{ aluno.nome }}</td>
      <td>{{ aluno.sobrenome }}</td>
      <td>{{ aluno.semestre }}</td>
      <td>
        <a ui-sref="edicao({ id: aluno.id })" class="btn btn-default">Editar</a>
        <button class="btn btn-danger" ng-click="$ctrl.excluir(aluno.id)">Excluir</button>
      </td>
      <!--<td>
        <button class="btn btn-danger">Excluir</button>        
      </td>-->
    </tr>
  </tbody>
</table>
