<div class="row">
  <div class="alert alert-info" ng-show="$ctrl.contatos.length <= 0" role="alert">
    Não há contatos cadastros até o momento
  </div>
  <div class="alert alert-danger" ng-show="$ctrl.mostraMensagensFalha === true" role="alert">
    {{ $ctrl.mensagemFalha }}
  </div>
</div>

<table class="table table-hover table-condensed" ng-show="$ctrl.contatos.length > 0">
  <thead>
    <tr class="active">
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Telefone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="contato in $ctrl.contatos track by $index">
      <td class="text-capitalize">{{ contato.nome | lowercase }}</td>
      <td class="text-capitalize">{{ contato.sobrenome | lowercase }}</td>
      <td>{{ contato.telefone }}</td>
      <td>
        <a class="btn btn-default" ui-sref="edicao({ id: contato.id })">Editar</a>
        <a class="btn btn-danger" ng-click="$ctrl.excluirContato(contato.id)">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>