body {
  margin: 0 30px;
}

.logo {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}
  .logo img {
    width: 480px;
  }

.grupo {
  margin: 20px 0;
}
  .grupo label {
    width: 20%;
    display: inline-block;
    text-align: right;
  }
  .grupo .controle {
    width: 75%;
  }
  .grupo label.controle {
    display: inline;
  }
  .grupo button {
    margin: 0 20%;
  }

button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(0,0,50);
  color: rgb(255,255,255);
}
.controle {
  height: 25px;
}
textarea.controle {
  height: 100px;
}

.aviso {
  text-align: center;
  color: rgb(255,0,0);
}

@media (max-width: 480px) {
  body {
    margin: 0 10px;
  }

  button {
    width: 100%;
  }

  .logo {
    width: 200px;
  }
    .logo img {
      width: 200px;
    }

  .grupo label {
    width: 100%;
    display: inline-block;
    text-align: left;
  }
  .grupo .controle {
    width: 100%;
  }
  .grupo button {
    margin: 0;
  }
}

@media print {
  .apenas-tela {
    display: none;
  }
}

@media not print {
  .apenas-impressao {
    display: none;
  }
}